.footer {
    background-color: #55443e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px; 
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #fffefe;
    font-weight: bold;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}
